<% include ./partials/head %>
<% include ./partials/header %>

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> <%= user.fullName %></h1>
        <p>
            <strong>created</strong>: <%= moment(new Date(user.created)).format('YYYY-MM-DD') %><br>
            <strong>modified</strong>: <%= moment(new Date(user.modified)).format('YYYY-MM-DD') %><br>
        </p>
      <a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

          <!-- LOCAL INFORMATION -->

          <h3><span class="fa fa-user"></span> Local</h3>
          <p>
            <strong>id</strong>: <%= user.id %><br>
            <strong>username</strong>: <%= user.username %><br>
            <strong>email</strong>: <%= user.email %>
          </p>

    </div>
  <script>
      document.getElementById("home").className = 'active';
  </script>
<% include ./partials/footer %>